<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'device_categories/styles.css' %}">
</head>
{% if all_devices %}
	<table class="inventory-table">
		<tr class="inventory-table-header">
			<th style="width:25%">Category</th>
			<th style="width:25%">Device Name</th>
			<th style="width:25%">Device Count</th>
			<th style="width:25%">TMS Code</th>
		</tr>
		{% for device in all_devices %}
		<tr>
			<td>{{ device.category }}</td>
			<td>{{ device.device_name }}</td>
			<td>{{ device.device_count }}</td>
			<td>{{ device.tms_code }}</td>
		</tr>
		{% endfor %}
	</table>
{% endif %}
