{% extends "homepage/base.html" %}

{% block title %}Network Resources{% endblock title %}

{% block content %}
<body>
    <br>
    <br>
    <br>
    {% if all_devices %}
    	<table class="inventory-table">
    		<tr class="inventory-table-header">
    			<th style="width:25%">Category</th>
    			<th style="width:25%">Device Name</th>
    			<th style="width:25%">Device Count</th>
    			<th style="width:25%">TMS Code</th>
    		</tr>
    		{% for device in all_devices %}
    		<tr>
    			<td>{{ device.category }}</td>
    			<td>{{ device.device_name }}</td>
    			<td>{{ device.device_count }}</td>
    			<td>{{ device.tms_code }}</td>
    		</tr>
    		{% endfor %}
    	</table>
    {% endif %}
    <br>
    <div class="edit-button">
        <button><a href="/admin/device_categories/device/">Edit Device Count(s)</a></button>
    </div>
</body>
{% endblock %}
