{% extends "homepage/base.html" %}

{% block title %}Network Resources{% endblock title %}

{% block content %}
<body>
    <br>
    <br>
    <br>
        <div class="network-resource-buttons">
            <button><a href="http://noc.umd.edu/Internal/wp/" rel="noopener" target="_blank">Wall Plate</a></button>
            <button><a href="https://ncs2.net.umd.edu" rel="noopener" target="_blank">Cisco Prime</a></button>
            <button><a href="https://ise-admin1.net.umd.edu/admin/login.jsp" rel="noopener" target="_blank">Cisco ISE</a></button>
            <button><a href="https://128.8.5.9/desktop" rel="noopener" target="_blank">Sparky</a></button>
            <button><a href="https://ptx-pan.net.umd.edu" rel="noopener" target="_blank">Palo Alto</a></button>
            <button><a href="https://www.mypinnaclelogin.com/umcp/" rel="noopener" target="_blank">Pinnacle</a></button>
            <button>Network Management</button>
        </div>
</body>
{% endblock %}