<!DOCTYPE html>
<html lang="en">
<!-- {% load static %} DONT NEED TO DO THIS BECAUSE ALREADY LOADED IN HOMEPAGE??-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'network_resources/styles.css' %}">
</head>

<body>
    <div class="button-container">
        <div class="buttons">
            <button><a href="http://noc.umd.edu/Internal/wp/" rel="noopener" target="_blank">Word Plate</a></button>
            <button><a href="https://ncs2.net.umd.edu" rel="noopener" target="_blank">Cisco Prime</a></button>
            <button><a href="https://ise-admin1.net.umd.edu/admin/login.jsp" rel="noopener" target="_blank">Cisco ISE</a></button>
            <button><a href="https://128.8.5.9/desktop" rel="noopener" target="_blank">Sparky</a></button>
            <button><a href="https://ptx-pan.net.umd.edu" rel="noopener" target="_blank">Palo Alto</a></button>
            <button><a href="https://www.mypinnaclelogin.com/umcp/" rel="noopener" target="_blank">Pinnacle</a></button>
            <button>Network Management</button>
        </div>
    </div>

</body>
</html>