<!DOCTYPE html>
<html lang="en">
<!-- Add additional CSS in static file -->
{% load static %}
<head>
    <title>{% block title %}Homepage {% endblock title %} | KW's NOC Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/styles.css' %}">
</head>

<body>
    <header>
        <ul class="header-nav">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'device_categories:index' %}">NOC Inventory</a></li>
            <li><a href="{% url 'contact_info:index' %}">Contact Info</a></li>
            <li><a href="{% url 'network_resources:index' %}">Network Resources</a></li>
            <li><a href="">On Call</a></li>
        </ul>
    </header>

    <!-- Document Body -->
    <div id="site-wrapper">
        {% block content %}
            if you see this, something is wrong!
        {% endblock content %}
    </div>
    <!-- Footer -->
    <div class="footer">
        <div class="footer-container">
            <p>K. Williams (2017)</p>
        </div>
    </div>
</body>
