<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'contact_info/styles.css' %}">
</head>

<body>
  <div class="container-table">
    <table> <!--centers the table-->
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Work Phone</th>
        <th>Cell Phone</th>
        <th>Email Address</th>
      </tr>
      <tr>
        <td>Brian Jernigan</td>
        <td>NOC Director</td>
        <td>301.405.7626</td>
        <td>301.852.0847</td>
        <td>bjerniga@umd.edu</td>
      </tr>
      <tr>
        <td>Alex Tirdil</td>
        <td>NOC Manager</td>
        <td>301.405.5249</td>
        <td>301.887.7788</td>
        <td>ajtirdil@umd.edu</td>
      </tr>
      <tr>
        <td>Wes Groves</td>
        <td>NOC Senior Engineer</td>
        <td>301.405.2990</td>
        <td>301.458.5533</td>
        <td>wgroves@umd.edu</td>
      </tr>
      <tr>
        <td>Lip-Jen Chew</td>
        <td>NMS Senior Engineer</td>
        <td>301.405.8841</td>
        <td>202.699.2030</td>
        <td>ljchew@umd.edu</td>
      </tr>
      <tr>
        <td>Cameron Paulk</td>
        <td>NOC Engineer</td>
        <td>301.405.4480</td>
        <td>301.832.8011</td>
        <td>cam@umd.edu</td>
      </tr>
      <tr>
        <td>Chauncey Moore</td>
        <td>NOC Engineer</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Ebenezer Amare</td>
        <td>NOC Engineer</td>
        <td>301.405.7285</td>
        <td>240.623.4037</td>
        <td>eamare@umd.edu</td>
      </tr>
      <tr>
        <td>Ku Williams</td>
        <td>NOC Engineer</td>
        <td>301.405.6502</td>
        <td>301.310.8039</td>
        <td>kuwillia@umd.edu</td>
      </tr>
      <tr>
        <td>Garry Adams</td>
        <td>NOC Engineer</td>
        <td>301.405.5719</td>
        <td>301.892.0195</td>
        <td>gadams1@umd.edu</td>
      </tr>
      <tr>
        <td>Claire Kao</td>
        <td>NOC Engineer</td>
        <td>301.405.2994</td>
        <td>240.858.9002</td>
        <td>clairek@umd.edu</td>
      </tr>
      <tr>
        <td>Adam Bensimhon</td>
        <td>NOC Engineer</td>
        <td></td>
        <td></td>
        <td>abensimh@umd.edu</td>
      </tr>
    </table>
  </div>